@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


$blueCol: #1946BA;
$textBlackCol: #2A2A2A;
$textBlackGrCol: #8C8C8C;
$textWhiteGrCol: #DEDEDE;
$textWhiteCol: #FFFFFF;



.catalog {
    .catalog_title {
        margin-top: 80px;
        font-size: 72px;
        color: $blueCol;
        line-height: 74px;
        margin-bottom: 55px;
    }

    .catalog_filter {
        display: flex;
        justify-content: space-between;
        max-width: 610px;
        margin-bottom: 90px;

        .select {
            position: relative;

            .selectLabel {
                display: block;
                font-weight: bold;
                margin-bottom: 0.4rem;
            }

            .selectWrapper {
                position: relative;
            }

            .selectCustom {
                position: relative;
                width: 8rem;
                height: 2rem;
            }

            .selectCustom-trigger {
                font-size: 14px;
                line-height: 21px;
                background-color: #fff;
                cursor: pointer;
            }

            .selectCustom-trigger {
                padding: 2% 7%;
                position: relative;
                width: 100%;
                height: 100%;
                color: $blueCol;
            }

            .selectCustom-trigger::after {
                color: $blueCol;
                content: "▾";
                position: absolute;
                top: 0;
                line-height: 1.8rem;
                right: 0.2rem;
            }

            .selectCustom-trigger:hover {
                background-color: #E8EDF8;

            }

            .selectCustom-options {
                position: absolute;
                top: calc(3.8rem + 0.8rem);
                left: 0;
                width: 100%;
                background-color: $textWhiteCol;
                box-shadow: 0px 5px 20px 0px #1946BA33;
                z-index: 1;
                padding: 27px 20px;
                display: none;
            }

            .selectCustom.isActive .selectCustom-options {
                display: block;
            }

            .selectCustom-option {
                position: relative;
                padding: 0.8rem;
            }

            .selectCustom-option:hover {
                color: $blueCol;
            }
        }

        .catalog_filter-prem {
            display: flex;
        }

        .catalog_filter-prem-text {
            margin-right: 20px;
            color: $textBlackGrCol;
            font-size: 14px;
            line-height: 25px;
        }

        .catalog_filter-type {
            display: flex;

        }
    }

    .products {
        .products_inner {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;

            .products_catalog {
                display: flex;
                text-align: center;
                margin-bottom: 70px;
                flex-wrap: wrap;
                justify-content: space-between;

                .products_catalog-items {
                    margin-bottom: 128px;
                    flex: 0 0 25%;
                }

            }
        }
    }


}