@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$blueCol: #1946ba;
$textBlackCol: #2a2a2a;
$textBlackGrCol: #8c8c8c;
$textWhiteGrCol: #dedede;
$textWhiteCol: #ffffff;

.order {
    .order_inner {
        .order_payment {
        }
        .payment_title {
            margin: 110px 0;
            font-size: 72px;
            font-weight: 700;
            line-height: 75px;
            color: $blueCol;
        }
        .payment_list {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 100px;
            li:nth-child(1) {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    background-size: cover;
                    width: 81px;
                    height: 70px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    left: 35%;
                    top: 22%;
                    background-image: url(./../../img/pay-1.png);
                }
            }

            li:nth-child(2) {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    background-size: cover;
                    width: 87px;
                    height: 70px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    left: 35%;
                    top: 15%;
                    background-image: url(./../../img/pay-2.png);
                }
            }

            li:nth-child(3) {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    background-size: cover;
                    width: 77px;
                    height: 70px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    left: 38%;
                    top: 12%;
                    background-image: url(./../../img/pay-3.png);
                }
            }
        }
        .payment_list-item {
            text-align: center;
            max-width: 300px;

            img {
                margin-bottom: 35px;
            }
            p {
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                color: $blueCol;
            }
        }
        .order_delivery {
            margin-bottom: 170px;

            .delivery_title {
                margin-bottom: 62px;
                font-size: 72px;
                font-weight: 700;
                line-height: 75px;
                color: $blueCol;
            }
            .delivery_text {
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                color: $textBlackCol;
                margin-bottom: 20px;
                :nth-child(1) {
                }
            }
        }
    }
    @media (max-width:1000px) {
        .order_inner {
            .payment_list{
                flex-direction: column;
                align-items: center;
                .payment_list-item{
                    margin-bottom: 25px;
                }
            }
        }
    }
    @media (max-width:555px) {
        .order_inner {
            .payment_title {
                margin: 50px 0 79px;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                color: $blueCol;
            }
            .order_delivery {
                margin-bottom: 120px;
    
                .delivery_title {
                    margin-bottom: 50px;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                color: $blueCol;
                }
            }
        }
    }
}
