@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$blueCol: #1946ba;
$textBlackCol: #2a2a2a;
$textBlackGrCol: #8c8c8c;
$textWhiteGrCol: #dedede;
$textWhiteCol: #ffffff;

.reviews {
    .reviews_inner {
    }
    .reviews_title {
        font-size: 72px;
        font-weight: 700;
        line-height: 75px;
        margin: 60px 0;
        color: $blueCol;
    }
    .reviews_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        .reviews_list-item {
            max-width: 400px;
            width: 100%;
            padding: 30px;
            box-shadow: 0px 15px 40px 0px #1946ba1a;
            flex: 0 0 33%;
            margin-bottom: 20px;
            margin-right: 20px;
            .reviews_list-item-text {
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                color: $textBlackCol;
                margin-bottom: 20px;
            }
            span {
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                color: $textBlackCol;
            }
        }
        :nth-child(3) {
            margin-right: 0;
        }
        :nth-child(6) {
            margin-right: 0;
        }
    }
    @media (max-width: 1250px) {
        .reviews_list {
            .reviews_list-item {
                flex: 0 0 50%;
            }
            :nth-child(3) {
                margin-right: 20px;
            }
            :nth-child(6) {
                margin-right: 20px;
            }
        }
    }
    @media (max-width: 800px) {
        .reviews_list {
            .reviews_list-item {
                flex: 0 0 100%;
            }
        }
    }
    @media (max-width: 555px) {
        .reviews_title {
            font-size: 30px;
            font-weight: 700;
            line-height: 41px;
            margin: 50px 0;
        }
        .reviews_list {
            .reviews_list-item {
                flex: 0 0 100%;
                margin-right: 0;
            }
        }
    }
}
